* {
  scroll-behavior: smooth;
}

.header-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.header-wrapper img {
  position: relative;
  left: -2rem;
  width: 15rem;
}

.header-wrapper .social {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.header-wrapper .social:hover {
  color: white;
  background-color: #2a2a2a;
}

.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.nav-wrapper .nav-button {
  position: relative;
  margin-right: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.nav-wrapper .nav-button:hover {
  color: var(--primary-color);
}

.section-title {
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.content-wrapper {
  background-color: white;
}

.footer-wrapper {
  position: relative;
  width: 100%;
}

.footer-content {
  background-color: #2a2a2a;
  color: white;
  padding: 2rem 0 3rem;
}
.footer-meta {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
.footer-content img {
  width: 22rem;
}
.social-wrapper {
  position: relative;
  padding: 1rem 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.social-item {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-item span {
  position: relative;
}
.social-item span::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
.social-item:hover span::after {
  width: 100%;
}
.social-item i {
  position: relative;
  font-size: 1.5rem;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  color: white;
}
.hero-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}
.hero-desc {
  position: relative;
  width: 90%;
  max-width: 962px;
  font-size: 1.5rem;
}
.hero-desc p {
  text-align: justify;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.fasilitas-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  margin: 1rem auto;
  gap: 2rem 7rem;
  padding: 3rem 0;
}

.fasilitas-item {
  position: relative;
  background-color: #c8ab36;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  color: white;
}
.fasilitas-item i {
  font-size: 4rem;
}
.fasilitas-item span {
  font-size: larger;
}

.galeri-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e7e6e6;
  padding: 5rem 3rem;
  width: 100%;
  gap: 5rem;
}

.galeri-wrapper a {
  width: 80%;
  height: 80%;
  transition: all 0.3s ease;
  margin: auto;
}
.galeri-wrapper a:hover {
  transform: scale(1.05);
}
.galeri-wrapper a:active {
  transform: scale(0.98);
}
.galeri-wrapper a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.ketentuan-wrapper {
  position: relative;
  background-color: var(--primary-color);
  color: white;
  padding: 5rem 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.ketentuan-wrapper .ketentuan-icon {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 3rem;
  margin: auto;
}
.ketentuan-wrapper .ketentuan-icon i {
  font-size: 13rem;
  color: var(--primary-color);
}
.ketentuan-wrapper .ketentuan-list {
  position: relative;
  padding: 0 2rem;
}
.ketentuan-wrapper .ketentuan-list h4 {
  font-size: 2.5rem;
}
.ketentuan-wrapper .ketentuan-list ul {
  list-style: circle inside;
}
.ketentuan-wrapper .ketentuan-list li {
  font-size: 1.2rem;
}
.ketentuan-wrapper .ketentuan-list li::before {
  content: "\2022";
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.alamat-wrapper {
  position: relative;
  background-color: white;
}
.alamat-wrapper img {
  position: relative;
  width: 100%;
  height: 35rem;
  object-fit: cover;
}
.alamat-maps {
  position: relative;
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.alamat-maps p {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 1.5rem;
}

.maps-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.form-wrapper {
  position: relative;
  background-color: #e7e6e6;
  margin: 5rem auto;
  padding: 5rem 5rem;
  width: 90%;
  max-width: 900px;
}

/* media query for tab only */
@media only screen and (min-width: 768px) {
  /* .fasilitas-item {
    margin: unset;
  } */
}

@media only screen and (min-width: 992px) {
  .header-wrapper img {
    width: 20.69rem;
  }
  .social-wrapper {
    padding: 1rem 5rem 0;
  }
  .footer-content img {
    width: 36rem;
  }
  .social-item {
    font-size: 1.25rem;
  }
  .social-item i {
    font-size: 2rem;
  }
  .galeri-wrapper {
    gap: 1rem;
  }
  .galeri-wrapper a {
    width: 22%;
    height: 22%;
  }
  .alamat-maps {
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
  }
  .alamat-maps .alamat-maps-item {
    flex: 1;
  }
}
